# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
.env
.env.local
.env.prod

# Node
node_modules/
.next/
out/
*.tsbuildinfo

# Keys / certs
*.pem

# Zip artifacts
*.zip

# Editor
.vscode/
.idea/
